<p>
  Welcome {{ account.username }}
</p>

<button mat-ripple mat-raised-button (click)="logoutClicked()"  id="logoutBtn"
    color="primary">Logout</button><br>

<div class="container">
  <h2>Your Cards:</h2>
  <div *ngFor="let card of cards;" (click)="cardClicked(card)" class="cardClickable">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{card.card_name}}</mat-card-title>
              <mat-card-subtitle>{{card.categories}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{card.image_front}}" alt="{{card.card_name}}">
      </mat-card>
    <br>
  </div>

  <br>
  <button mat-ripple mat-raised-button (click)="addCardClicked()"
    color="primary">Add New</button>
</div>
<div class="container">
    <div *ngIf="selectedCard && !isAddEditMode">
        <h2>Details:</h2>
        <h4>{{selectedCard.card_name}}</h4>
        <h4>{{selectedCard.description}}</h4>
        <h4>{{selectedCard.categories}}</h4>


        <img  class="detail_image" src="{{selectedCard.image_front}}" alt="..." />
        <br>

      <button mat-ripple mat-raised-button (click)="editCardClicked()"
    color="primary">Edit Card</button>
    <button style="margin-left:auto;"mat-ripple mat-raised-button (click)="deleteCardClicked()"
    color="primary">Remove Card</button>


    </div>
    <div *ngIf="isAddEditMode">
        <h2>
            <span *ngIf="isEdit">Edit</span>
            <span *ngIf="!isEdit">New</span>
             Card:
        </h2>
        <form (ngSubmit)="submitCard()" [formGroup]="cardInput">
            <div class="form-group">
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="Title" formControlName="card_name">
                  <mat-error *ngIf="cardInput.get('card_name').hasError('required')">
                    Title is <strong>required</strong>
                  </mat-error>
                </mat-form-field>

            <br>
              <mat-form-field class="example-full-width">
                <mat-select formControlName="categoryControl">
                  <mat-option [value]="category" *ngFor="let category of categories">
                    {{category}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            <br>
              <mat-form-field class="example-full-width">
                <mat-select formControlName="companyControl">
                  <mat-option [value]="company" *ngFor="let company of companies">
                    {{ company.company_name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>


            <br>
            <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Description" formControlName="description">
                  </textarea>
                <mat-error *ngIf="cardInput.get('description').hasError('required')">
                  Description is <strong>required</strong>
                </mat-error>
              </mat-form-field>

            <br>

            <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Tags" formControlName="tags">
                  </textarea>
                <mat-error *ngIf="cardInput.get('tags').hasError('required')">
                  Tags are <strong>required</strong>
                </mat-error>
              </mat-form-field>

              </div>

            <div class="form-group">
              <label for="image_front">Upload card image</label>
              <input type="file" id="image_front" (change)="onFileChange($event)" #fileInput>
              <button type="button" class="btn btn-sm btn-default" (click)="clearFile()">clear file</button>
            </div>

          <button mat-ripple mat-raised-button type="submit" [disabled]="cardInput.invalid || loading"
            color="primary">Save</button><br>
            <mat-spinner class="spinner" *ngIf="loading"></mat-spinner>

        </form>
    </div>
</div>
